.default {
    color: blue;
    padding: 5px;
}

.warning {
    composes: default;
    color: rgb(241, 242, 255);
    background-color: yellow;
}

.error {
    composes: warning;
    color: red;
     
}


